html, body, #map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Tahoma;
}
#_map { 
  height: 500px;
  width: 800px;
  width: 100%;
}
#payloads {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 260px;
/*  border: 1px solid lime;*/
}
.payload, #location {
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #777;
  font-size: .7em;
  padding: 5px 5px 0px 5px;
  min-width: 175px;
}
.payload {
  margin-left: 15px;
  float: left;
}
.payload-title {
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 3px rgba(10, 10, 10, .3);
  cursor: pointer;
}
.payload-title span {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 20px;
  opacity: .7;
  box-shadow: 2px 2px 2px #aaa;
}

#location {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 50px;
  width: 200px;
}
#location-title {
  font-weight: bold;
  font-size: 1.2em;
}
.info-links {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding-top: 0px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: -1px;
}
.info-links a {
  display: inline-block;
  padding: 0px;
  /*border: 1px solid silver;*/
  margin: 1px 1px;
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
  /*float: left;*/
}
#location .info-links {
  border-bottom-width: 0px;
}
#gps-update-intvl {
  float: right;
}
#gps-update-intvl select {
  font-size: .9em;
}
#gps-upload-intvl {
/*  width: 100%;*/
  display: inline-block;
  float: right;
}
#gps-upload-intvl img {
  vertical-align: middle;
/*  margin-left: 8px;*/
}
#gps-upload-intvl select {
  font-size: .9em;
  margin-top: 2px;
/*  width: 100%;*/
}
.warn {
  color: red;
}
.leaflet-txpulse-anim {
   border-radius: 50%;
   border: none;
   opacity: 0;
   background: -webkit-radial-gradient(
       circle,
       rgba(255, 0, 0, 1.0),
       rgba(255, 0, 0, 0)
   );
   transition: opacity 0.1s ease;
}

.info-links a.active, .info-links a:hover {
  color: #444;
}
.hidden {
  display: none !important;
}
.clear {
  clear: both;
}

#dev {
  position: absolute;
  top: 200px;
  padding: 3px;
  border: 1px solid lime;  
  font-size: .7em;
}

#map-coordinates {
  position: absolute;
  bottom: 41px;
  left: 5px;
  padding: 3px;
  border: 1px solid silver;
  background: rgba(255, 255, 255, .5);
  color: #333;
  font-size: .7em;
}
